mapsdb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="downloads">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="demo">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="full">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="patch">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="name" type="xs:string" use="optional" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="title">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="logo" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="mapdb">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="maps">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="map">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element minOccurs="1" maxOccurs="1" name="title" type="title" />
                      <xs:element minOccurs="0" maxOccurs="1" name="preview" type="xs:anyURI" />
                      <xs:element name="size">
                        <xs:complexType>
                          <xs:attribute name="x" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="y" type="xs:unsignedShort" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="game">
                        <xs:complexType>
                          <xs:attribute name="gameId" type="xs:string" use="optional" />
                          <xs:attribute name="versionId" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="features">
                        <xs:complexType>
                          <xs:attribute name="tileset" type="xs:string" use="required" />
                          <xs:attribute name="players" type="xs:unsignedByte" use="required" />
                          <xs:attribute name="teams" type="xs:unsignedByte" use="optional" />
                          <xs:attribute name="island" type="xs:boolean" use="optional" />
                          <xs:attribute name="useMapSettings" type="xs:boolean" use="optional" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" name="author">
                        <xs:complexType>
                          <xs:attribute name="authorId" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="downloads" type="downloads" />
                      <xs:element minOccurs="0" name="release" type="xs:date" />
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="authors">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="author">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="title" type="title" />
                    <xs:element minOccurs="0" name="url" type="xs:string" />
                    <xs:element minOccurs="0" name="email" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="games">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="game">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="title" type="title" />
                    <xs:element minOccurs="0" name="url" type="xs:string" />
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="version">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="1" maxOccurs="1" name="title" type="title" />
                                <xs:element minOccurs="0" name="downloads" type="downloads" />
                                <xs:element minOccurs="0" name="release" type="xs:date" />
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>